@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
    background: none;
}

h1{
    font-size: 1.4vw;
    font-weight: 500;
    color: #C6CCD3;
}

h2{
    font-size: 1.2vw;
    font-weight: 500;
    color: #C6CCD3;
}

h3{
    font-size: 1vw;
    font-weight: 500;
    color: #C6CCD3;
}

h4{
    font-size: .8vw;
    font-weight: 500;
    color: #C6CCD3;
}

html, body{
    width: 100%;
    /* overflow: hidden;  */
}

header{
    width: 100%;
    height: 4vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    align-items: center;
    display: flex;
    background-color:#2D333B;
}

.navbar__icon{
    height: 4vh;
    margin-right: 0.6vw;
}

.navbar__button{
    margin-left: auto;
    margin-right: 1.5vw;
}

.navbar__title-wrapper{
    display: flex;
    margin-left: 1.5vw;
    align-items: center;
}

.editor{
    height: 90vh;
    padding-top: 4vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #22272E;
}

.editor__viewport{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.viewport__themes{width: 20%}

.themes__wrapper{margin-top: 1.5vh}

.theme{
    width: 100%;
    margin-bottom: 1.2vh;
    border: 0.1vw solid #666B73;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.theme__preview{width: 100%}

.theme__select{
    height: 100%;
    padding: 1vh;
    border-top: 0.1vw solid #666B73;
    display: flex;
    align-items: center;
    background-color: #22272E;
}

.select__input{
    display: none;
    position: absolute;
}

.select__input-label{
    margin-left: 1vh;
    margin-right: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select__input + .select__input-label{
    cursor: pointer;
    position: relative;
}

.select__input + .select__input-label::before{
    width: 1.5vh;
    height: 1.5vh;
    content: '';
    position: absolute;
    border: 0.2vw solid #666B73;
    border-radius: 50%;
    background-color: #3B3B3B;
}

.select__input:checked + .select__input-label::before {
    width: 1.5vh;
    height: 1.5vh;
    content: '';
    border-radius: 50%;
    background-color: #D1E6FF;;
  }

.viewport__preview{width: 78%}

.preview__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}

.preview{
    width: 75%;
    height: 80%;
    padding: 1.2vh;
    margin-top: 1.5vh;
    border: 0.1vw solid #666B73;
    border-radius: 1vh;
    background-color: #1C2128;
}

.preview__subtitle{
    width: 100%;
    padding-bottom: 0.6vh;
}

.preview__paragraph{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 0.9vw;
    font-weight: 400;
    color: #ADBAC7;
}

/* SOLUÇÃO: CALCULAR COM JS */
.preview-banner__wrapper{
    width: 100%;
    height: 22%;
    margin-top: 2.5vh;
}

.preview-banner__background{
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(267.59deg, #582C57 -5.85%, #7B5B79 102.4%);
}

.preview-banner__image{
    width: 45%;
    margin-right: 4vh;
    margin-bottom: 4vh;
}

.preview-banner__image img{width: 100%}

.preview-banner__paragraph{
    width: 1%;
    height: 70%;
    margin-left: 1.5vh;
    background: #F8F9FA;
}

.preview-banner__title-wrapper{
    height: 60%;
    margin-left: 1.5vh;
    display:flex;
    align-items: center;
}

.preview-banner__title{
    font-size: 2vw;
    font-weight: 400;
    color: #F8F9FA;
}

.preview-title__wrapper{
    width: 100%;
    height: 9%;
}

.preview-title__background{
    width: 100%;
    height: 100%;
    border-radius: 1vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(267.59deg, #582C57 -5.85%, #7B5B79 102.4%);
}

.preview-title__text{
    font-weight: 400;
    margin-left: 1.5vh;
    color: #F8F9FA;
}

.preview-shield__wrapper{
    width: fit-content;
    height: 5%;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #5E5A5A;
}

.preview-shield__icon{
    height: 60%;
    margin-left: 0.8vh;
}

.preview-shield__title{
    font-weight: 400;
    margin-left: 0.8vh;
    margin-right: 1vh;
    font-size: 0.8vw;
    color: #E8F1FB;
}

.preview-shield__tech-background{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #9D3D3E;
}

.preview__sidebar-wraper{
    width: 20%;
    margin-top: 1.5vh;
    margin-left: 1.5vh;
}

.sidebar__tag{
    width: min-content;
    padding: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E7CD5;
    background-color: #253651;
    font-size: 0.8vw;
    font-weight: 500;
}

.sidebar__ipsum-name{
    margin-top: 2.5vh;
    color: #768390;
}

.editor__formulary{
    width: 40%;
    height: 100%;
}

.formulary{
    width: 100%;
    margin-bottom: 4vh;
}

.formulary__title{
    padding-left: 0.5vh;
    padding-bottom: 1vh;
    border-bottom: 0.1vw solid #666B73;
}

.formulary__subtitle{
    margin-top: 1.5vh;
    margin-left: 0.5vh;
    margin-bottom: 1.5vh;
}

.formulary__input{
    width: 100%;
    height: 3vh;
    padding: 1vh;
    margin-right: 1vh;
    border: 0.1vw solid #666B73;
    border-radius: 1vh;
    outline: 0;
    color: #E8F1FB;
    background-color: #1C2128;
}

.formulary__wrapper{
    width: 100%;
    margin-top: 0.5vh;
    display: flex;
}

.formulary__banner-theme{
    width: 70%;
    padding-right: 1vw;
    margin-top: 0;
}

.banner-theme{
    width: 100%;
    height: 100%;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1vw solid #666B73;
    border-radius: 100%;
    background-color: #1C2128;
}

.banner-theme__picture{
    width: 100%;
    height: 100%;
}

.banner-theme__select-theme{
    display: flex;
    margin-right: 1.5vh;
    flex-direction: column;
    align-items: center;
    font-size: 10vh;
}

.banner-theme__text-wrapper{ 
    height: 100%;
    width: 100%;
    font-size: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulary__banner-color{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.banner-color{
    height: 100%;
    display: flex;
    align-items: center;
}

.banner-color:last-child{margin-top: 8px;}

.banner-color__preview{
    width: 30%;
    height: 100%;
    border-radius: 1vh;
    background-color: #674065;
}

.color__wrapper{
    width: 70%;
    height: 100%;
    margin-left: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulary__shield{
    display: flex;
    align-items: center;
}

.formulary__shield button{
    height: 100%;
    padding: 1vh;
    margin-right: 1vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9D3D3E;
}

.icon--dart{
    height: 3vh;
    margin-right: 1vh;
}

.render{
    height: 700px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #22272E;
}

.render-background{
    width: 40px;
    height: 20px;
}

.render-banner__container{
    width: 1080px;
    height: 286px;
    display: flex;
    align-items: flex-end;
}

.render-banner__background{
    width: 1080px;
    height: 216px;
    margin-bottom: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(267.59deg, #582C57 -5.85%, #7B5B79 102.4%);
}

.render-banner__image{
    width: 256px;
    height: 256px;
    margin-bottom:30px;
    margin-left: 760px;
    position: absolute;
}

.render-banner__image img{width: 100%;}

.render-banner__paragraph{
    width: 7.5px;
    height: 140px;
    margin-left: 28px;
    background: #F8F9FA;
}

.render-banner__title-wrapper{
    width: 650px;
    height: 140px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.render-banner__title{
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
    color: #F8F9FA;
}

.render-title__container{
    width: 1080px;
    height: 108px;
    display: flex;
    align-items: flex-end;
}

.render-title__background{
    height: 108px;
    width: 1080px;
    border-radius: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(267.59deg, #582C57 -5.85%, #7B5B79 102.4%);
}

.render-title__text{
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    margin-left: 28px;
    color: #F8F9FA;
}

.render-shield__container{
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: #5E5A5A;
}

.render-shield__icon{
    height: 25px;
    margin-left: 10px;
}

.render-shield__title{
    font-size: 20px;
    font-weight: 400;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    color: #F8F9FA;
}

.render-shield__tech-background{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #9D3D3E;
}

.render-shield__text{
    width: 100%;
    display: flex;
    align-items: center;
}

.render-message{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #E8F1FB;
}

footer{
    align-items: center;
    background-color:#2D333B;
    width: 100%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position:absolute;
    bottom: 0;
    flex-direction: column;
}

.footer__message{
    display: flex;
}

.footer__icon{
    height: 2.5vh;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    filter: brightness(0.8);
}
