@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url(/assets/themes/themes.css);

:root{
    --banner-primary-color: #3a4350;
    --banner-secondary-color: #6e7781; 
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

button{
    cursor: pointer;
    background: none;
}

h1{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-navigation-text);
}

h2{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-primary-text);
}

h3{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-primary-text);
}

html, body{
    width: 100%;
    overflow: hidden; 
}

header{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    background-color: var(--color-navigation-background);
}

.icon{
    height: 16px;
    margin-left: 4px;
    margin-right: 4px;
    filter: brightness(0.8);
}

.navbar__icon{
    height: 24px;
    margin-right: 8px;
}

.navbar__button{
    margin-left: auto;
    text-decoration: none;
    margin-right: 22px;
}

.navbar__title-wrapper{
    display: flex;
    margin-left: 22px;
    align-items: center;
}

.beta{
    margin-left: 4px;
    margin-bottom: 8px;
    font-weight: 400;
    font-style:italic;
}

.editor{
    height: 40vw;
    padding-top: 22px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--color-primary-background)
}

.editor__viewport{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.viewport__themes{width: 20%}

.themes__wrapper{margin-top: 12px}

.theme{
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.theme__preview{width: 100%}

.theme__select{
    height: 100%;
    padding: 8px;
    border-top: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    background-color: var(--color-secondary-background);
}

.select__input{
    display: none;
    position: absolute;
}

.select__input-label{
    margin-left: 8px;
    margin-right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select__input + .select__input-label{
    cursor: pointer;
    position: relative;
}

.select__input + .select__input-label::before{
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    border: 2px solid var(--color-border);
    border-radius: 50%;
    background-color: var(--color-input-disabled);
}

.select__input:checked + .select__input-label::before {
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
    background-color: var(--color-input-enabled);
  }

.viewport__preview{width: 78%}

.preview__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}

.preview{
    width: 75%;
    height: 80%;
    padding: 8px;
    margin-top: 12px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background-color: var(--color-secondary-background);
}

.preview__subtitle{
    width: 100%;
    padding-bottom: 8px;
}

.preview__paragraph{
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 0.9vw;
    font-weight: 400;
    color: var(--color-secondary-text);
}

.preview-banner__wrapper{
    width: 100%;
    height: 20%;
    position: relative;
    margin-top: 28px;
}

.preview-banner__background{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(220deg, var(--banner-primary-color) 25%, var(--banner-secondary-color) 100%);
}

.preview-banner__image{
    right: 0;    
    height: 90px;
    width: 90px;
    border-radius: 8px;
    margin-right: 18px;
    margin-bottom: 38px;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-banner__image img{height: 100%;}

.preview-banner__paragraph{
    width: 3px;
    height: 70%;
    margin-left: 8px;
    position: absolute;
    background: var(--color-banner-text);
}

.preview-banner__title-wrapper{
    width: 68%;
    height: 80px;
    margin-left: 22px;
    display:flex;
    align-items: center;
}

.preview-banner__title{
    font-size: 1.2rem;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-banner-text);
}

.preview-shield__wrapper{
    width: fit-content;
    height: 5%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: var(--color-secondary-shield);
}

.preview-shield__icon{
    height: 60%;
    margin-left: 8px;
}

.preview-shield__title{
    font-weight: 400;
    margin-left: 8px;
    margin-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.7rem;
    color: var(--color-banner-typography);
}

.preview-shield__tech-background{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-primary-shield);
}

.preview__sidebar-wraper{
    width: 20%;
    margin-top: 12px;
    margin-left: 12px;
}

.sidebar__tag{
    width: min-content;
    padding: 6px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-tag-text);
    background-color: var(--color-tag-background);
    font-size: 0.7rem;
    font-weight: 700;
}

.sidebar__ipsum-name{
    margin-top: 300px;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--color-secondary-text);
}

.editor__formulary{
    width: 40%;
    height: 100%;
}

.formulary{
    width: 100%;
    margin-bottom: 64px;
}

.formulary__title{
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-border);
}

.formulary__subtitle{
    margin-top: 12px;
    margin-left: 4px;
    margin-bottom: 8px;
}

.formulary__input{
    width: 100%;
    padding: 8px;
    margin-right: 6px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    outline: 0;
    color: var(--color-secondary-text);
    background-color: var(--color-secondary-background);
}

.formulary__wrapper{
    width: 100%;
    display: flex;
}

.formulary-upload__wrapper{
    display: flex;
    height: 100%;
    align-items: center;
}

.formulary-upload__label{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    color: var( --color-button-text);
    background-color: var(--color-primary-button);
    transition: 200ms;
}

.formulary-upload__label:hover{
    transition:200ms;
    background-color: var(--color-primary-button-hover);
}

.formulary-upload__input {display: none}

.formulary-upload__name{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-left: 8px;
    max-width: 80%;
    font-weight: 400;
    color: var(--color-secondary-text);
}

.formulary__banner-color{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.banner-color{
    height: 100%;
    align-items: center;
}

.banner-color__preview{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.color__wrapper{
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color__wrapper:not(:last-child){
    padding-right: 12px;
    border-right: 1px solid var(--color-border);
}

.formulary__color-input{
    width: 48px;
    height: 20px;
    border-bottom: 2px solid var(--color-border);
    outline: 0;
    color: var(--color-secondary-text);
    background-color: var(--color-primary-background);
}

.formulary__color-format{
    padding-top: 4px;
    margin-right: 8px;
    display:flex;
    align-items: center;
}

.formulary__color-format h3{
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--color-secondary-text);
}

.colorPicker{
    position: absolute;
    opacity: 0;
}

#previewPrimaryColor{
    background-color: var(--banner-primary-color);
}

#previewSecondaryColor{
    background-color: var(--banner-secondary-color);
}

#previewTextBannerColor{
    background-color: var(--color-banner-text);
}
.formulary__shield{
    display: flex;
    align-items: center;
}

.shield__wrapper{
    height: 100%;
    padding: 8px;
    margin-right: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-shield);
}

.shield__text {
    color: var(--color-banner-typography);
    font-weight: 400;
    margin-right: 8px;
}

.formulary-title__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-border);
}

.formulary-subtitle__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8px;
}

.download-image{
    color: var(--color-primary-text);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.download-image-icon{
    font-family: 'Material Icons';
    font-size: 16px;
    margin-left: 4px;
    color: var(--color-primary-text);
}
.icon--dart{
    height:18px;
    margin-right: 8px;
}

.render{
    height: 700px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary-background);
}

.render-banner__container{
    width: 1080px;
    height: 286px;
    display: flex;
    align-items: flex-end;
}

.render-banner__background{
    width: 1080px;
    height: 216px;
    margin-bottom: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(220deg, var(--banner-primary-color) 25%, var(--banner-secondary-color) 100%);
}

.render-banner__image{
    width: 256px;
    height: 256px;
    border-radius: 20px;
    margin-bottom:30px;
    margin-left: 775px;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.render-banner__image img{height: 100%;}

.render-banner__paragraph{
    width: 7.5px;
    height: 160px;
    margin-left: 28px;
    background: var(--color-banner-text);
}

.render-banner__title-wrapper{
    width: 730px;
    height: 140px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.render-banner__title{
    font-size: 48px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--color-banner-text);
}

.render-shield__container{
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: var(--color-secondary-shield);
}

.render-shield__icon{
    height: 25px;
    margin-left: 10px;
}

.render-shield__title{
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-banner-typography);
}

.render-shield__tech-background{
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-primary-shield);
}

.render-shield__text{
    width: 100%;
    display: flex;
    align-items: center;
}

footer{
    width: 100%;
    height: 42px;
    bottom: 0;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-navigation-background);
}

.footer__message{
    display: flex;
}

.footer__message h3{
    color: var(--color-navigation-text);
}